<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'index' %}">На главную</a></li>
                </ul>
            </div>
        </div>
    </nav>
<div class="container">
    {% block content %}
    {% endblock content %}
</div>
</body>
</html>