{% extends 'core/base.html' %}

{% block content %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <td>Артикул</td>
            <td>ID</td>
            <td>Активен</td>
            <td>Дата записи</td>
        </tr>
        </thead>
        <tbody>
        {% for user_part in user_parts %}
            <tr>
                <td><a href="{% url 'info' user_part.id %}"> {{ user_part.article }} </a></td>
                <td>{{ user_part.id_number|default:'-' }}</td>
                <td>{{ user_part.is_active }}</td>
                <td>{{ user_part.created_at }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}