{% extends 'core/base.html' %}

{% block content %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <td>Фирма</td>
            <td>Описание</td>
            <td>В наличии</td>
            <td>Минимальный заказ</td>
            <td>Ожидаемый срок</td>
            <td>Цена</td>
            <td>Дата записи</td>
        </tr>
        </thead>
        <tbody>
        {% for info in part_info %}
            <tr>
                <td>{{ info.firm }}</td>
                <td>{{ info.description }}</td>
                <td>{{ info.in_stock }}</td>
                <td>{{ info.minimal_order }}</td>
                <td>{{ info.expected_time }}</td>
                <td>{{ info.price }}</td>
                <td>{{ info.created_at }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}